.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 241, 241);
}
.mess-top {
  text-align: left;
  padding: 5px;
  border-radius: 5x;
  position: left;
  background-color: rgb(90, 100, 100);
}
.nav-back {
  display: flex;
  justify-content: space-between;
}
.nav-name {
  text-align: right;
}
.formdis,
.loginForm {
  display: flex;
  flex-direction: column;
  background-color: darkcyan;
}
.formdis {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: rgba(15, 1, 1, 0.35) 0px 10px 20px;
}
label {
  text-align: left;
  padding: 0.2rem 0;
}
td {
  padding: 1rem;
  border-radius: 10px;
  width: 500px;
}

input {
  margin: 1rem 0;
  padding: 1rem;

  border-radius: 10px;
}
.btn-view,
.nav-button {
  border: none;
  background-color: darkgray;
  padding: 22px;
  border-radius: 20px;
}
button:hover {
  background-color: azure;
}
tr:hover {
  color: rgb(118, 160, 189);
}
